.work1 {
	height: 300px;
	width: 500px;
	transition: 1s;
        
	}
	.work1:hover {
		height: 350px;
		width: 600px;
	}

.work2 {
	height: 300px;
	width: 500px;
	transition: 1s;
        
	}
	.work2:hover {
		height: 350px;
		width: 600px;
	}